.site-header {
    background-color: #9fa6ce;
    color: #333649;
    height: 100vh;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #616994 2px 5px 5px;
}

.course-link {
    color: #333649;
}

body {
    margin: 0;
}